<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">

    <title>ABOUT</title>
</head>
<body>
    <h1 id="title">ABOUT ME</h1>
    <main>
    <p id="about">Hello! Nice to meet you! I'm Sang Choi. Prior to General Assembly, 
        my background was in teaching. I earned my MA at New York University in 2014. 
        From there, I went on to teach in Brooklyn and South Korea to students who needed/wanted to learn English.
         Although I loved working with students, and contributing to the learning community, in the end,
         it just wasn't for me. Now, I'm here!
    </p>
    </main>
</body>
</html>