<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">

    <title>SANG CHOI</title>
</head>
<body>
    <h1 id="title">Hello! Welcome to my page!</h1>
    <h3 id="description">If you are interested, please feel free to explore more about me!</h3>

    <main>
    
    <a href="about.html" class="links">ABOUT</a>
    <br />
    <a href="contact.html" class="links">CONTACT</a>
    <br />
    <a href="skills.html" class="links">SKILLS</a>
    
    </main>
    
</body>
</html>