<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">

    <title>SKILLS</title>
</head>
<body>

        <h1 id="title">SKILLS</h1>
        <main>
        <ul id="skills">
            <li>HTML</li>
            <br />
            <li>CSS</li>
            <br />
            <li>JS</li>
        </ul>
        </main>
    
</body>
</html>